@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300);
@import './vendor/normalize.css';
// Importing Susy  grid
@import '../susyex/stylesheets/style.css';


////////////////////
// Global ELements
////////////////////

* { box-sizing: border-box }
body {
	//background: rgba(0,0,0,.1);
	color: black;   
	font-family: 'Roboto Condensed', sans-serif;

}   
.container {
	padding: 10px 0;
}
h1 { 
	margin-top: 0;
}
  
/////////////
// header 
/////////////
#header {
	position: relative;
	z-index: 3;
}

.header {
	position:fixed;
	width: 100%;
	top:0;
	//height: 100px;
    background: rgba(0, 0, 0, 0.46);
	overflow: hidden;
	&__title {
	    float: left;
	    font-size: 24px;
	    font-weight: 100;
	    padding: 7px 0px 0 10px;
	    color: white;
	}
	&__logo {
		width: 60px;
		float: left;		
	}
	&__nav {
		float: right;
		margin-top: 15px;
		li {
			float:left;
			margin-left: 20px;
			list-style-type: none;
			a {
				color: white;
				text-decoration: none;
				&:hover {
					color: yellow;
				}
			}
		}
	}
}

/////////////////////
// Home Page
/////////////////////


.home .container {
	height: 100%;
}
.main.home {
	background: url(http://localhost:3000/images-raw/bkrdTest.jpg) fixed;
	background-size: cover;
}




// Portfolio Section on Home Page
.port-item {
	position:relative;
	img {
		max-width: 100%;
	}
	&__title {
		position: absolute;
		background:red;
		width:100%;
		//display: none;
		opacity: 0;
		transition: all .3s;
		bottom: 15%;
	    padding: 5px 15px;
	   // transform: rotateX(90deg); 
	    //transform: skewY(990deg);
	    transform: scale(0.9); 
	}
	&__description {
		display: none;
	}
	&:hover {
		.port-item {
			&__title {
				//display: block;
				opacity: 1;
				//bottom: 15%;
				//transform: rotateX(0deg); 
				//transform: skewY(0deg); 
				transform: scale(1);
			}
		}
	}
}



@media (max-width: 767px) {
	.header__nav {
		ul {
			display: none;
		}
	}
}


///////////////////
// Footer
///////////////////

.footer {
	background: rgba(0,0,0,.3);
}