@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300);
@import './vendor/normalize.css';

* { box-sizing: border-box }
body {
	//background: rgba(0,0,0,.1);
	color: black;   
	font-family: 'Roboto Condensed', sans-serif;
}   

.container {
	// max-width: 980px;
	// margin: 20px auto;
}  



.footer {
	background: rgba(0,0,0,.3);
}
.header, .main, .footer {
	padding: 10px 0;
}
h1 {
	margin-top: 0;
}
// header 
.header {
	//height: 100px;
	background: red;
	overflow: hidden;
	&__title {
	    float: left;
	    font-size: 24px;
	    font-weight: 100;
	    padding: 7px 0px 0 10px;
	    color: white;
	}
	&__logo {
		width: 60px;
		float: left;		
	}
	&__nav {
		float: right;
		margin-top: 15px;
		li {
			float:left;
			margin-left: 20px;
			list-style-type: none;
			a {
				color: white;
				text-decoration: none;
				&:hover {
					color: yellow;
				}
			}
		}
	}
}
